/* Colour scheme*/
.brd p.feed a:link, .brd p.feed a:visited {color: #DDDDDD;}
.brd a:hover, .brd a:active, .brd a:focus,
.brd p.feed a:hover, .brd p.feed a:active, .brd p.feed a:focus {;text-decoration: none;}
.brd .main-pagepost a:link, .brd .crumbs a:link,
.brd .main-pagepost a:visited, .brd .crumbs a:visited {text-decoration: none;}
.brd .main-pagepost a:hover, .brd .crumbs a:hover,
.brd .main-pagepost a:active, .brd .crumbs a:active,
.brd .main-pagepost a:focus, .brd .crumbs a:focus {text-decoration: underline;}
.brd .main-content {border-color: #d3dae1;border-bottom-color: #cbd1d8;}
.brd .main-pagepost {background: #fff;border-color: #dde4eb;}
.brd .main-content .main-item .item-nav {color: #888;}
.brd .main-content .sticky {background: #f2f4fa;}
.brd .main-content .main-item .hn .item-status em.sticky{color: #b42000;font-weight: bold;}
.brd .main-content .main-item .hn .item-status em.closed{color: #333;font-weight: bold;}
.brd .main-content .main-item .hn .item-status em.moved {color: #666;}
.brd .post * {border-color: #dde4eb;}
.brd .post {}
#topic-review .firstpost, .brd .singlepost {border-top-color: #DDE4EB;border-bottom-color: #DDE4EB;}
.brd .post {border: 1px solid;border-color: #dde4eb;border-top-color: #dde5ec;border-bottom-color: #ccc;border-left-color: #e4e4e4;background: #edf1f5;}
.brd .posthead, .brd .postbody, .brd .post-options {background: #fafafa;}
.brd .posthead .hn {background: #f1f1f1;}
.brd .posthead .post-title small {color: #999;}
.brd .online .userstatus span {border-color: #71da35;}
.brd .admin-page .warn-set .warn-box {background: #FEFFE6;}
.brd .main-frm .ct-group, .brd #brd-announcement {background: #fbfbfb;border: 1px solid;border-color: #d3dae1;border-radius:  4px;}
.brd .main-content .info-box {background: #fffbea;}
.brd .main-extensions .extension, .brd .main-hotfixes .hotfix {background: #fffae7;}
.brd .main-extensions .disabled, .brd .main-hotfixes .disabled {background: #FFFFE1;}
.brd .warn-group, .brd .warn-set, .brd .warn-box, .brd .error-box, .brd #admin-alerts {background: #FEFFE6;border-color: #F4EBCE;}
.brd .warn-group, .brd .warn-set, .brd .warn-box, .brd .error-box {border-color: #E6D190;}
.brd ul.info-list li,
.brd ul.error-list li {color: #6A97BF;}
.brd ul.info-list li span,
.brd ul.error-list li span {color: #666;}
.brd ul li strong {color: #333;}
.brd .user-box {background: #F4F9FD;}
.brd .ct-box .hn, .brd .ct-box .sig-demo {border-color: #DBE0E4;color: #1F537B;}
.brd .error-box .hn {color: #333;}
.brd .help-box {background: #f4f4f4;}
.brd .frm-buttons, .brd .extension .options, .brd .hotfix .options {border-color: #DBE0E4;}
.brd .checklist {background: #fffee8;border-color: #ccc;}
.brd label, .brd .aslabel, .brd .mf-set legend, .brd .ct-legend * {color: #222;}
.brd .paging * {border-color: #dedfdf;}
.brd .required label em, .brd #req-msg em, .brd .warn strong, .brd .important strong {color: #b42000;}
.brd .entry-content .codebox, .brd .entry-content .quotebox {background: #fff;border:  1px solid;border-color: #d8d8d8;}
#brd-announcement .userbox {background: #F4F9FD none repeat scroll 0 0;}
.brd .main-content .main-item .hn .posted-mark {color: #99C;}
/* Menus*/
#brd-navlinks {background: #4b5257;}
#brd-navlinks a:link, #brd-navlinks a:visited {color: #fffbea;}
#brd-navlinks a:hover, #brd-navlinks a:active, #brd-navlinks a:focus {color: #fff;text-decoration: underline;}
.brd .main-options, .brd .main-options span {background: #DDE4EB;}
.brd .main-menu, .brd .admin-menu {background: #1F537B;}
.brd .admin-submenu {background: #e4e4ec;border-color: #d3dae1;}
.brd .main-menu a:link,
.brd .main-menu a:visited,
.brd .admin-menu a:link,
.brd .admin-menu a:visited {color: #ddd;text-decoration: none;}
.brd .main-menu a:hover,
.brd .main-menu a:active,
.brd .main-menu a:focus,
.brd .admin-menu a:hover,
.brd .admin-menu a:active,
.brd .admin-menu a:focus {text-decoration: underline;color: #fff;}
.brd .main-menu li.active a:hover,
.brd .main-menu li.active a:active,
.brd .main-menu li.active a:focus,
.brd .main-menu li.active a:visited,
.brd .admin-menu li.active a:hover,
.brd .admin-menu li.active a:active,
.brd .admin-menu li.active a:focus,
.brd .admin-menu li.active a:visited {text-decoration: none;}
.brd .admin-submenu li.active a {text-decoration: none;}
.brd .main-menu li.active a {color: #fff;}
.brd .admin-menu li.active a {color: #eef;}
#brd-admod #alert a {color: yellow;}
/* Logo and Headings*/
#brd-head {color: #222;}
.brd .main-head {margin-bottom:1em}
.brd .main-foot {margin-top:1em;border: none;}
.brd .main-head, .brd .main-foot {background: #60707c;}
.brd #brd-announcement h1 {border-color: #BBBBBB;}
.brd .main-subhead {border-color: #d3dae1 #D3DAE1 #cbd1d8 #D3DAE1;background: #f4f4f4;border-style: solid;border-width: 1px;border-bottom: 0;}
.brd .column-title {border-color: #F4F4F4 #F4F4F4 #CBD1D8 #F4F4F4;background: #FFF;}
.brd .group-head {background: #EDF1F5;border-color: #DBE0E4;}
.brd .content-head .hn {border-color: #DBE0E4;color: #666;}
.brd .main-head a:link, .brd .main-head a:visited,
.brd .main-foot .options a:link, .brd .main-foot .options a:visited {color: #ccc;}
.brd .main-head a:hover, .brd .main-head a:active, .brd .main-head a:focus,
.brd .main-foot .options a:hover, .brd .main-foot .options a:active, .brd .main-foot .options a:focus {color: #fff;}
.brd .main-frm .ct-group td {background: none;}
#extensions-used {border-bottom-color: #999;}
/* Status indicators-*/
.main-content .main-item .icon {
    border-color: #edf1f5 #DDE0E4 #c6cbd3 #BABFC6
}
.main-content .redirect .icon {
    border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
}
.main-content .sticky .icon {
    border-color: #d7e5f3 #C3CFDc #9fb3c7 #90A2B4
}
.main-content .closed .icon {
    border-color: #acacac #979797 #898989 #7A7A7A
}
.main-content .sticky.closed .icon {
    border-color: #d7e5f3 #C3CFDc #898989 #7A7A7A
}
.main-content .new .icon {
    border-color: #0080d7 #0065C0 #0058b3 #0072CA
}
#brd-navlinks.main-st-menu > ul{float: left;}
#brd-navlinks.main-st-menu > div {}
#brd-navlinks.main-st-menu > div ul{}
#brd-navlinks.main-st-menu ul{font-size: 0;}
#brd-navlinks.main-st-menu li{display: inline-block!important;}
#brd-navlinks.main-st-menu a{display: block;font-size: 13.5px!important;height: 34px;line-height: 34px;padding: 0 8px;color: #fff!important;}
#brd-navlinks.main-st-menu a:hover{text-decoration: none!important;background-color: #9bb0bf;}
.brd .gen-content{padding: 0 20px;}
#brd-navlinks.main-st-menu{padding: 0!important;}
.right-nav a{padding: 0 34px;}
.enter-btn a{background: #3e92d5;}
.enter-btn a:hover{background: #7ebbee;}
#brd-visit.forum-head-bott{margin-bottom: 24px!important;}
#brd-head {padding-bottom: .75em;padding-top: 1em;border-color: #d3dae1;border-bottom-color: #cbd1d8;}
#brd-visit {border:  1px solid;background: #fbfbfb;border-color: #d3dae1;border-top:  none;}
a.nav-toggle {padding-right: 50px;line-height: 1.8em;background: #4b5257;color: #fff !important;}
#brd-navlinks.main-st-menu {
    border-top: 1px solid #676f75}

